/*  your css code here. If applicable */

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 10px;
    background-color: #f4f4f4;
}

li {
    padding: 8px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 4px;
}